* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
    /* Aparentemente não está funcionando, professor. */

}

/* HEADER */

header {

    background-color: aliceblue;
    display: flex;
    width: 100%;
    height: 11vh;
    justify-content: space-between;
    align-items: center;

}

.logo {

    height: 75%;
    padding-left: 22px;

}

.nav-header {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;

}

.nav-header a {

    display: flex;
    margin: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;

    color: rgb(33, 158, 188);
    font-family: 'Montserrat', arial;
    font-size: 14px;
    font-weight: 580;
    text-decoration: none;

    border-radius: 50px;
    transition: 350ms;

}

.nav-header a:first-of-type {

    color: rgb(251, 133, 0);

}

.nav-header a:hover {

    background-color: rgb(2, 48, 71);
    color: rgb(142, 202, 230);
    transform: scale(1.05);

}

/* FIM DO HEADER */

/* MAIN */

main {

    background-color: aliceblue;

}

.banner {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(../img/Banner\ Fundo\ -\ Mobile.jpg);
    background-size: cover;
    background-position: center center;

}

.corfundo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    background-color: rgba(14, 53, 62, 0.59);
    color: aliceblue;

}

.titulo {

    margin-left: 35px;
    font-family: 'montserrat', arial;
    color: rgb(251, 133, 0);
    font-size: 35px;

}

.subtitulo {

    margin-left: 35px;
    margin-right: 35px;
    flex-wrap: wrap;
    font-family: 'Quicksand', arial;
    font-weight: 500;

    text-align: justify;

}

.form-banner {

    display: flex;
    justify-content: left;
    width: 100%;

}

.explorar {

    width: 100%;
    margin: 10px 35px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-style: none;
    border-radius: 5px;

    font-family: 'Quicksand', arial;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    color: aliceblue;
    background-color: rgb(251, 133, 0);

    transition: 250ms;

}

.explorar:hover {
    transform: scale(1.05);
}

.img-fundo {

    width: 100%;
    height: 100%;
    position: absolute;

}

/* DESTINOS */

.destinos {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'montserrat', arial;
    color: rgb(33, 158, 188);

}

.container {

    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 16.66% repeat(4 16.66%);

    grid-template-areas:
        "pisa"
        "tokyo"
        "maldivas"
        "paris"
        "rio"
        "interlaken"
    ;

}

.imagemcit {

    width: 100%;
    border-radius: 25px 25px 0px 0px;

}

.pisa {

    display: flex;
    flex-direction: column;
    margin: 45px;

    background-color: rgb(33, 158, 188);
    border-radius: 29px;
    border-bottom: solid 6px rgba(2, 48, 71, 0.766);

    grid-area: pisa;

    transition: 250ms;

}

.pisa:hover {

    transform: scale(1.05);

}

.tokyo {

    display: flex;
    flex-direction: column;
    margin: 45px;

    background-color: rgb(33, 158, 188);
    border-radius: 29px;
    border-bottom: solid 6px rgba(2, 48, 71, 0.766);

    grid-area: tokyo;

    transition: 250ms;

}

.tokyo:hover {

    transform: scale(1.05);

}

.maldivas {

    display: flex;
    flex-direction: column;
    margin: 45px;

    background-color: rgb(33, 158, 188);
    border-radius: 29px;
    border-bottom: solid 6px rgba(2, 48, 71, 0.766);

    grid-area: maldivas;

    transition: 250ms;

}

.maldivas:hover {

    transform: scale(1.05);

}

.paris {

    display: flex;
    flex-direction: column;
    margin: 45px;

    background-color: rgb(33, 158, 188);
    border-radius: 29px;
    border-bottom: solid 6px rgba(2, 48, 71, 0.766);

    grid-area: paris;

    transition: 250ms;

}

.paris:hover {

    transform: scale(1.05);

}

.rio {

    display: flex;
    flex-direction: column;
    margin: 45px;

    background-color: rgb(33, 158, 188);
    border-radius: 29px;
    border-bottom: solid 6px rgba(2, 48, 71, 0.766);

    grid-area: rio;

    transition: 250ms;

}

.rio:hover {

    transform: scale(1.05);

}

.interlaken {

    display: flex;
    flex-direction: column;
    margin: 45px;

    background-color: rgb(33, 158, 188);
    border-radius: 29px;
    border-bottom: solid 6px rgba(2, 48, 71, 0.766);

    grid-area: interlaken;

    transition: 250ms;

}

.interlaken:hover {

    transform: scale(1.05);

}

.titulocidade {

    display: flex;
    align-items: flex-end;
    margin: 10px 10px 5px 10px;

    font-family: 'montserrat';
    color: aliceblue;

}

.titulocidade h4 {

    margin-left: 4px;
    font-weight: 550;

}

.descricao {

    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;

    font-family: 'quicksand', arial;
    font-weight: 500;
    text-align: left;
    color: rgb(2, 48, 71);

}

.formcard {

    display: flex;
    width: 100%;
    justify-content: center;

}

.botaocard {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 0px 8px 0px;

    border-style: none;
    border-radius: 25px;

    font-family: 'montserrat', arial;
    font-weight: 600;
    background-color: aliceblue;
    color: rgb(2, 48, 71);
}

.botaocard:hover {
    background-color: rgb(251, 133, 0);
    color: aliceblue;
}

/* FOOTER */

footer {

    display: flex;
    flex-direction: column;
    margin-top: 25px;

    font-family: 'motserrat', arial;
    background-color: rgb(2, 48, 71);
    color: aliceblue;

}

footer p {

    font-family: 'Quicksand', arial;
    font-size: 15px;

}

.nav-footer {

    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 5px;

}

.logogit {

    margin-left: 25px;
    margin-bottom: 10px;
    width: 8vh;

    transition: 250ms;

}

.logogit:hover {

    transform: scale(1.05);

}

.date {

    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    font-weight: lighter;
    font-size: 12px;

}

@media (min-width: 1440px) {

    .banner{
        background-attachment: fixed;
    }

    .nav-header a {
        font-size: 22px;
    }

    .nav-header a:hover {

        transform: scale(1.05);

    }

    .caixa-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 65%;
    }

    .titulo {
        font-size: 65px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .form-banner {
        justify-content: center;
    }

    .explorar {
        width: 30%;
        margin-top: 35px;
        padding: 20px;

        border-radius: 15px;

        font-size: 30px;
        font-weight: 600;
    }

    .container {
        display: grid;

        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;

        justify-content: center;

        grid-template-areas:
            "pisa tokyo maldivas"
            "paris rio interlaken"
        ;

    }

    .pisa {
        grid-area: pisa;
    }

    footer {
        justify-content: center;
        align-items: center;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .logogit {
        margin: 0px;
        margin-bottom: 15px;
    }

    .date {
        display: flex;
        align-items: center;
    }
}