* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;1,300&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom: 7px solid rgb(3, 119, 186);
}

.navheader {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: space-evenly;
}

.navheader a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 08px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(245, 245, 245);
    border-radius: 7px;
    font-family: 'montserrat', arial;
    font-weight: 550;
    text-decoration: none;
    color: rgb(57, 58, 60);
    transition-duration: 250ms;
}

.navheader a:hover {
    background-color: rgb(3, 119, 186);
    color: white;
    scale: 1.03;
}

.background {
    height: 255px;
    display: flex;
    background-color: black;
    background-image: url(https://images.pexels.com/photos/12989844/pexels-photo-12989844.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main {
    margin-bottom: 10px;
}

.curiosidades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: 'montserrat', arial;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(57, 58, 60);
}

.section-curiosidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: rgb(232, 232, 232);
    border-top: 12px solid rgb(3, 119, 186);
}

#imgcuriosidades {
    max-width: 100%;
    border-radius: 15px;
}

.titulo {
    padding: 10px;
    font-family: 'montserrat', arial;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(57, 58, 60);
}

.descricao {
    width: 100%;
    padding: 15px;

    font-family: 'montserrat';
    font-weight: light;
    font-style: italic;
    text-align: center;

    color: rgb(57, 58, 60);
}

.button-cards {
    margin-bottom: 20px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    color: rgb(3, 119, 186);
    background-color: rgb(216, 216, 216);
    border-style: none;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 200ms;
}

.button-cards:hover {
    background-color: rgb(3, 119, 186);
    color: white;
    scale: 1.03;
}

.section-vid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.div-video {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-video p {
    margin: 10px;
    width: 80%;
    font-family: 'montserrat';
    text-align: center;
    color: rgb(57, 58, 60);
}

.titulo-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'montserrat', arial;
    color: rgb(57, 58, 60);
}

.video {
    width: 85%;
    border-radius: 05px;
    border: 7px solid rgb(3, 119, 186);
}

.footer {
    margin-top: 50px;
    border-top: 13px solid rgb(228, 228, 228);
    background-color: rgb(3, 119, 186);
}

.nav-footer a {
    display: flex;
    justify-content: center;
}

.logogit {
    width: 20%;
    border: 2px solid white;
    border-radius: 50px;
    margin-top: 15px;
    transition-duration: 250ms;
}

.logogit:hover {
    scale: 1.06;
}

.github {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 5px;
    font-family: 'montserrat', arial;
    font-size: 20px;
    color: white;
}

@media (min-width: 1280px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
    }

    .navheader {
        width: 50%;
        flex-wrap: nowrap;
        margin-bottom: 0px;
    }

    .background {
        height: 480px;
    }

    .navheader a {
        width: 40%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .section-curiosidades {
        flex-direction: row;
        align-items: flex-start;
    }

    .logogit {
        width: 08%;
    }
}